{{!-- with --}}
{{#template.floatz}}
{{!-- if jquery --}}
{{#scripts.jquery}}
{{!-- if floatz.mobile --}}
	{{#scripts.floatzmobile}}
	{{!-- if floatz.skiplink --}}
		{{#scripts.floatzskiplink}}
$LAB.script("./styles/floatz-{{template.floatz.version}}/scripts/jquery-{{scripts.jquery.version}}.min.js")
	.script("./styles/floatz-{{template.floatz.version}}/scripts/ua-parser-{{scripts.uaparser.version}}.min.js").wait()
	.script("./styles/floatz-{{template.floatz.version}}/scripts/floatz.js").wait()
	.script("./styles/floatz-{{template.floatz.version}}/scripts/floatz.mobile.js")
	.script("./styles/floatz-{{template.floatz.version}}/scripts/floatz.skiplink.js")
	.wait(function() {
		$(document).ready(function() {
			// Start floatz modules
			floatz.start({
				debug : {{template.floatz.debug}},
				logLevel : {{template.floatz.loglevel}},
				modules : ["floatz.mobile", "floatz.skiplink"]
			});
		});
	});
		{{/scripts.floatzskiplink}}
		{{!-- else --}}
		{{^scripts.floatzskiplink}}
$LAB.script("./styles/floatz-{{template.floatz.version}}/scripts/jquery-{{scripts.jquery.version}}.min.js")
	.script("./styles/floatz-{{template.floatz.version}}/scripts/ua-parser-{{scripts.uaparser.version}}.min.js").wait()
	.script("./styles/floatz-{{template.floatz.version}}/scripts/floatz.js").wait()
	.script("./styles/floatz-{{template.floatz.version}}/scripts/floatz.mobile.js")
	.wait(function() {
		$(document).ready(function() {
			// Start floatz modules
			floatz.start({
				debug : {{template.floatz.debug}},
				logLevel : {{template.floatz.loglevel}},
				modules : ["floatz.mobile"]
			});
		});
	});
		{{/scripts.floatzskiplink}}
	{{/scripts.floatzmobile}}
	{{!-- else --}}
	{{^scripts.floatzmobile}}
	{{!-- if floatz.skiplink --}}
		{{#scripts.floatzskiplink}}
$LAB.script("./styles/floatz-{{template.floatz.version}}/scripts/jquery-{{scripts.jquery.version}}.min.js")
	.script("./styles/floatz-{{template.floatz.version}}/scripts/ua-parser-{{scripts.uaparser.version}}.min.js").wait()
	.script("./styles/floatz-{{template.floatz.version}}/scripts/floatz.js").wait()
	.script("./styles/floatz-{{template.floatz.version}}/scripts/floatz.skiplink.js")
	.wait(function() {
		$(document).ready(function() {
			// Start floatz modules
			floatz.start({
				debug : {{template.floatz.debug}},
				logLevel : {{template.floatz.loglevel}},
				modules : ["floatz.skiplink"]
			});
		});
	});
		{{/scripts.floatzskiplink}}
		{{!-- else --}}
		{{^scripts.floatzskiplink}}
$LAB.script("./styles/floatz-{{template.floatz.version}}/scripts/jquery-{{scripts.jquery.version}}.min.js")
	.script("./styles/floatz-{{template.floatz.version}}/scripts/ua-parser-{{scripts.uaparser.version}}.min.js").wait()
	.script("./styles/floatz-{{template.floatz.version}}/scripts/floatz.js")
	.wait(function() {
		$(document).ready(function() {
			// Start floatz modules
			floatz.start({
				debug : {{template.floatz.debug}},
				logLevel : {{template.floatz.loglevel}}
			});
		});
	});
		{{/scripts.floatzskiplink}}
	{{/scripts.floatzmobile}}
{{/scripts.jquery}}
{{!-- else --}}
{{^scripts.jquery}}
	{{!-- if floatz.mobile --}}
	{{#scripts.floatzmobile}}
		{{!-- if floatz.skiplink --}}
		{{#scripts.floatzskiplink}}
$LAB.script("./styles/floatz-{{template.floatz.version}}/scripts/ua-parser-{{scripts.uaparser.version}}.min.js").wait()
	.script("./styles/floatz-{{template.floatz.version}}/scripts/floatz.js").wait()
	.script("./styles/floatz-{{template.floatz.version}}/scripts/floatz.mobile.js")
	.script("./styles/floatz-{{template.floatz.version}}/scripts/floatz.skiplink.js")
	.wait(function() {
		// Start floatz modules
		floatz.start({
			debug : {{template.floatz.debug}},
			logLevel : {{template.floatz.loglevel}},
			modules : ["floatz.mobile", "floatz.skiplink"]
		});
	});
		{{/scripts.floatzskiplink}}
		{{!-- else --}}
		{{^scripts.floatzskiplink}}
$LAB.script("./styles/floatz-{{template.floatz.version}}/scripts/ua-parser-{{scripts.uaparser.version}}.min.js").wait()
	.script("./styles/floatz-{{template.floatz.version}}/scripts/floatz.js").wait()
	.script("./styles/floatz-{{template.floatz.version}}/scripts/floatz.mobile.js")
	.wait(function() {
		// Start floatz modules
		floatz.start({
			debug : {{template.floatz.debug}},
			logLevel : {{template.floatz.loglevel}},
			modules : ["floatz.mobile"]
		});
	});
		{{/scripts.floatzskiplink}}
	{{/scripts.floatzmobile}}
	{{!-- else --}}
	{{^scripts.floatzmobile}}
		{{!-- if floatz.skiplink --}}
		{{#scripts.floatzskiplink}}
$LAB.script("./styles/floatz-{{template.floatz.version}}/scripts/ua-parser-{{scripts.uaparser.version}}.min.js").wait()
	.script("./styles/floatz-{{template.floatz.version}}/scripts/floatz.js").wait()
	.script("./styles/floatz-{{template.floatz.version}}/scripts/floatz.skiplink.js")
	.wait(function() {
		// Start floatz modules
		floatz.start({
			debug : {{template.floatz.debug}},
			logLevel : {{template.floatz.loglevel}},
			modules : ["floatz.skiplink"]
		});
	});
		{{/scripts.floatzskiplink}}
		{{!-- else --}}
		{{^scripts.floatzskiplink}}
$LAB.script("./styles/floatz-{{template.floatz.version}}/scripts/ua-parser-{{scripts.uaparser.version}}.min.js").wait()
	.script("./styles/floatz-{{template.floatz.version}}/scripts/floatz.js")
	.wait(function() {
		// Start floatz modules
		floatz.start({
			debug : {{template.floatz.debug}},
			logLevel : {{template.floatz.loglevel}}
		});
	});
		{{/scripts.floatzskiplink}}
	{{/scripts.floatzmobile}}
{{/scripts.jquery}}
{{/template.floatz}}