@import url(floatz-1.3.0/floatz.fixed.css);
/* Loads floatz CSS framework */
/* Project specific styles */
body {
  background: #efefef;
}
.header {
  height: 5em;
}
.content {
  padding-top: 3em;
}
.sidebar .flz_spacer {
  padding-top: 0.5em;
}
.footer {
  height: 3em;
  text-align: center;
}
@media print {
  .header,
  .menu,
  .submenu,
  .sidebar,
  .footer {
    display: none;
  }
  .content.flz_m60 {
    width: 100%;
  }
}
